# Node
node_modules
.pnpm-debug.log
pnpm-lock.yaml

# Next.js
.next/
out/
build/

# Vite
dist/

# Env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# OS
.DS_Store
Thumbs.db
.directory

# Types
*.tsbuildinfo

# Infrastructure & Tools
.turbo
.eslintcache
.vercel
.vscode
.idea

# Testing
coverage/
playwright-report/
test-results/
blob-report/
playwright/.cache/

# Local Scratch & Logs
scratch/
*.txt
*.log
